{% load i18n %}
{% load case_extras %}
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #1860c3;">
    <div class="container-fluid">
      <a class="navbar-brand text-warning" href="/"><h3>TiPNET - beta</h3></a>
      
      <button class="navbar-toggler text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-warning"></span>
      </button>
      <div class="collapse navbar-collapse w-100 order-1 dual-collapse2" id="navbarNav">
            <ul class="navbar-nav ms-auto gy-5">
                <li class="nav-item">
                  
                    
                      <input class="form-control me-2" type="search"  placeholder="{% trans "Find help" %}" aria-label="search" id="search" aria-expanded="false">
                      {% comment %} <ul id ="search_show" class="dropdown-menu" aria-labelledby="search">
                        
                        
                      </ul> {% endcomment %}
                    
                  
                </li>
                <li class="nav-item  dropdown">
                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% trans "LANGUAGES" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item dr" href="{% lang_url request.build_absolute_uri 'en' %}">{% trans "ENGLISH" %}</a></li>
                      <li><a class="dropdown-item dr" href="{% lang_url request.build_absolute_uri 'fr' %}">{% trans "FRENCH" %}</a></li>
                      <li><a class="dropdown-item dr" href="{% lang_url request.build_absolute_uri 'pt' %}">{% trans "PORTUGUESE" %}</a></li>

                    </ul>
                  </li>
                
                
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="/{{request.LANGUAGE_CODE}}/interviewer_registration">{% translate "SIGN UP" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/{{request.LANGUAGE_CODE}}/account/login?next=/en/cases">{% translate "SIGN IN" %}</a>
                </li>
                {% elif user.is_authenticated %}
                
                <li class="nav-item">
                  <a class="nav-link text-light" href="/{{request.LANGUAGE_CODE}}/cases">{% translate "ALL CASES" %}</a>
                </li>
                
                {% if user.is_staff %}
                <li class="nav-item">
                  <a class="nav-link text-light" href="/{{request.LANGUAGE_CODE}}/search">{% translate "SEARCH" %}</a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link text-light" href="/{{request.LANGUAGE_CODE}}/dashboard">{% translate "DASHBOARD" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/{{request.LANGUAGE_CODE}}/interviewer_registration">{% translate "PROFILE" %}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="/{{request.LANGUAGE_CODE}}/">{% translate "HELP" %}</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="/{{request.LANGUAGE_CODE}}/logout">{% translate "SIGN OUT" %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<script>
  
  
  
</script>