{% load i18n %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<form id="victim_form" method="post" action="/{{request.LANGUAGE_CODE}}/save_victim">
    {% csrf_token %}
    <div class="row g-3 my-2 px-2 py-2 bg-light border rounded">
        <div class="col-md-12">
            <h4 class="card-title">Bio-data</h4>
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="initials" class="form-label">{% trans "Initials:" %}</label>
                <input type="text" name = "initials" value = "{{victim.initials}}" class="form-control" id="initials" aria-describedby="familyNameHelp" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="age" class="form-label">{% trans "Age:" %}</label>
                <input type="number" name = "age" value = "{{victim.age}}" class="form-control" id="age" min=0 aria-describedby="ageHelp" required onchange="validateNumber(this,'victim_age_error',0,120)">
                <span id="victim_age_error"  style="display:none; color:red;"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="gender" class="form-label">{% trans "Gender:" %}</label>
                <div>
                    {% for gender in genders %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="gender_{{gender.id}}" value="{{gender.id}}">
                            <label class="form-check-label" for="gender_{{gender.id}}">{{gender.name}}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="race" class="form-label">{% trans "Race:" %}</label>
                <div>
                    {% for race in races %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="race" id="race_{{race.id}}" value="{{race.id}}" required>
                            <label class="form-check-label" for="race_{{race.id}}">{{race.name}}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="languages" class="form-label">{% trans "Languages:" %}</label>
                <select class="form-select" name="languages[]" id="languages" aria-label="Default select example" required multiple>
                    {% for language in languages %}
                        <option {% if language.id in victim.languages %}selected{% endif %} value="{{language.id}}">{% trans language.name %}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="">
                <label for="emailAddress" class="form-label">{% trans "Email address:" %}</label>
                <input type="text" name = "email_address" value = "{{victim.email_address}}" autocomplete="username" class="form-control" id="emailAddress" aria-describedby="emailAddressHelp" required>
            </div>
        </div>
    </div>
    
    <div class="row g-3 my-2 px-2 py-2 bg-light border rounded">
        <div class="col-md-12">
            <h4 class="card-title">Identifier data</h4>
        </div>
        
        <div class="col-md-6">
            <div class="">
                <label for="citizenship" class="form-label">{% trans "Citizenship:" %}</label>
                <select class="form-select" name="citizenship" id="citizenship" aria-label="Default select example" required>
                    
                    {% for country in countries %}
                        {% if country.is_sadc %}
                        <option {% if victim.citizenship_id == country.id%}selected{% endif %} value="{{country.id}}">{% trans country.name %}</option>
                        {% endif %}
                    {% endfor %}
                    <option disabled style="background:#1860c3; color:white">NON-SADC</option>
                    {% for country in countries %}
                        {% if country.is_sadc != True %}
                        <option {% if victim.citizenship_id == country.id%}selected{% endif %} value="{{country.id}}">{% trans country.name %}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="idtypes" class="form-label">{% trans "ID Type:" %}</label>
                <select class="form-select" name="idtypes[]" id="idtypes" aria-label="Default select example" required multiple>
                    {% for idtype in idtypes %}
                        <option {% if idtype.id in victim.idtypes %}selected{% endif %} value="{{idtype.id}}">{% trans idtype.name %}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="idNumber" class="form-label">{% trans "ID number:" %}</label>
                <input type="text" name = "id_number" value = "{{victim.id_number}}"class="form-control" id="idNumber" aria-describedby="IdNumberHelp" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="address" class="form-label">{% trans "Address:" %}</label>
                <input type="text" name = "address" value = "{{victim.address}}" class="form-control" id="address" aria-describedby="addressHelp" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="lastPlaceOfResidence" class="form-label">{% trans "Last place of residence:" %}</label>
                <select class="form-select" name="last_place_of_residence" id="lastPlaceOfResidence" aria-label="Default select example" required>
                    
                    {% for country in countries %}
                        {% if country.is_sadc %}
                        <option {% if victim.last_place_of_residence_id == country.id%}selected{% endif %} value="{{country.id}}">{% trans country.name %}</option>
                        {% endif %}
                    {% endfor %}
                    <option disabled style="background:#1860c3; color:white">NON-SADC</option>
                    {% for country in countries %}
                        {% if country.is_sadc != True %}
                        <option {% if victim.last_place_of_residence_id == country.id%}selected{% endif %} value="{{country.id}}">{% trans country.name %}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="countryOfBirth" class="form-label">{% trans "Country of birth:" %}</label>
                <select class="form-select" name="country_of_birth" id="countryOfBirth" aria-label="Default select example" required>
                    
                    {% for country in countries %}
                        {% if country.is_sadc %}
                        <option {% if victim.country_of_birth_id == country.id%}selected{% endif %} value="{{country.id}}">{% trans country.name %}</option>
                        {% endif %}
                    {% endfor %}
                    <option disabled style="background:#1860c3; color:white">NON-SADC</option>
                    {% for country in countries %}
                        {% if country.is_sadc != True %}
                        <option {% if victim.country_of_birth_id == country.id%}selected{% endif %} value="{{country.id}}">{% trans country.name %}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="placeOfBirth" class="form-label">{% trans "Place of Birth:" %}</label>
                <input type="text" name = "place_of_birth" value = "{{victim.placeOfBirth}}" class="form-control" id="placeOfBirth" aria-describedby="placeOfBirthHelp" required>
            </div>
        </div>
        
    </div>
    
    <div class="row g-3 my-2 px-2 py-2 bg-light border rounded">
        <div class="col-md-12">
            <h4 class="card-title">Interview data</h4>
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="interviewDate" class="form-label">{% trans "Interview Date:" %}</label>
                <input type="date" name = "interview_date" value = "{{victim.interview_date}}" class="form-control" id="interviewDate" aria-describedby="interviewDateHelp" max="{% now 'm/d/Y' %}" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="interview_country" class="form-label">{% trans "Interview country:" %}</label>
                <select class="form-select" name="interview_country" id="interview_country" aria-label="Default select example" required>
                    
                    {% for country in countries %}
                        {% if country.is_sadc %}
                        <option {% if victim.interview_country_id == country.id%}selected{% endif %} value="{{country.id}}">{% trans country.name %}</option>
                        {% endif %}
                    {% endfor %}
                    
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <label for="interviewerLocation" class="form-label">{% trans "Interviewer Location:" %}</label>
                <input type="text" name = "interviewer_location" value = "{{victim.interviewer_location}}" class="form-control" id="interviewerLocation" aria-describedby="interviewerLocationHelp" required>
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="">
                <label for="additionalRemarks" class="form-label">{% trans "Additional Remarks:" %}</label>
                <textarea type="text" name = "additional_remarks" value = "{{victim.additional_remarks}}" class="form-control" id="additionalRemarks" aria-describedby="additionalRemarksHelp" rows="3"></textarea>
            </div>
        </div>
    </div>
    

    {% comment %} <div class="mb-3">
        <label for="confirmPassword" class="form-label">{% translate "Confirm password:" %}</label>
        <input type="password" autocomplete="new-password" class="form-control" id="confirmPassword" aria-describedby="confirmPasswordHelp" required>
        <div class="invalid-feedback">
            Password not a match.
        </div>
    </div> {% endcomment %}

    <div class="row text-center m-3 ">
        <div class="text-center">
            <button type="submit" class="btn btn-primary text-warning">{% translate "SAVE AND PROCEED" %}</button>
        </div>
    
    </div>
</form>
<script>
{% comment %} var today = new Date();
var lastMonth = new Date().getMonth() - 1;

var picker = new Pikaday({
  field: document.getElementById('interviewDate'),
  format: 'MM/DD/YYYY',
  maxDate: today,  // maximum/latest date set to today
  // demo only
  position: 'top left',
  reposition: false
}); {% endcomment %}
</script>