{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>500 - Server Error</title>
    <link rel="icon" href="{% static 'images/warning.png' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
</head>
<body>
    <div class="error-container">
        <div class="error-code">500</div>
        <div class="error-message">Server Error</div>
        <div class="error-description">Sorry, something went wrong on our end.</div>
        <a href="/" class="home-link">Return to Home Page</a>
    </div>
</body>
</html>