{% extends "layouts/master.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    {% if interviewer %}
    {% if interviewer.data_entry_purpose_id == 1 %}
    <a href="/tip_form" class="btn btn-primary mt-3 text-warning">{% translate "NEW VICTIM CASE" %}</a>
    {% elif interviewer.data_entry_purpose_id == 2 %}
    <a href="/investigation_form" class="btn btn-primary mt-3 text-warning">{% translate "NEW VICTIM CASE" %}</a>
    {% elif interviewer.data_entry_purpose_id == 3 %}
    <a href="/prosecution_form" class="btn btn-primary mt-3 text-warning">{% translate "NEW VICTIM CASE" %}</a>
    {% elif interviewer.data_entry_purpose_id == 4 %}
    <a href="/assistance_form" class="btn btn-primary mt-3 text-warning">{% translate "NEW VICTIM CASE" %}</a>
    {% endif %}
    {% else %}
    <a href="/interviewer_form" class="btn btn-primary mt-3 text-warning">{% translate "CREATE PROFILE" %}</a>
    {% endif %}

    <hr/>
    <div class="row g-3">
        {% for victim in victims %}
        <div class="col-md-6">
            <div class="card text-bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">{{victim.initials}} - {{victim.interview_date}}</h5>
                </div>
                <div class="card-body">
                    <p><strong>{% trans "STATUS" %}:</strong> {% translate "Pending Approval" %}</p>
                    <div class="d-flex g-3 justify-content-start">
                        <div class="col">
                            <a href="/{{request.LANGUAGE_CODE}}/victim/{{victim.id}}"><small><i class="fa-solid fa-eye"></i> {% translate "View" %}</small></a>
                        </div>
                        <div class="col">
                            {% if interviewer %}
                                {% if interviewer.data_entry_purpose_id == 1 %}
                                    <a href="/{{request.LANGUAGE_CODE}}/tip_form?v_id={{victim.id}}" class=""><small><i class="fa-solid fa-pen"></i> {% translate "Modify" %}</small></a>
                                {% elif interviewer.data_entry_purpose_id == 2 %}
                                    <a href="/{{request.LANGUAGE_CODE}}/investigation_form?v_id={{victim.id}}" class=""><small><i class="fa-solid fa-pen"></i> {% translate "Modify" %}</small></a>
                                {% elif interviewer.data_entry_purpose_id == 3 %}
                                    <a href="/{{request.LANGUAGE_CODE}}/prosecution_form?v_id={{victim.id}}" class=""><small><i class="fa-solid fa-pen"></i> {% translate "Modify" %}</small></a>
                                {% elif interviewer.data_entry_purpose_id == 4 %}
                                    <a href="/{{request.LANGUAGE_CODE}}/assistance_form?v_id={{victim.id}}" class=""><small><i class="fa-solid fa-pen"></i> {% translate "Modify" %}</small></a>
                                {% endif %}
                            {% else %}
                            
                            {% endif %}
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}