{% extends "layouts/master.html" %}
{% load i18n %}

{% block content %}
<div class="container">

    <a href="/investigation_form" class="btn btn-primary mt-3 text-warning">{% translate "ADD CASE" %}</a>

    <hr/>
    {% for victim in victims %}
    <a href="/{{request.LANGUAGE_CODE}}/victim/{{victim.id}}">
        <div class="card text-bg-light mb-3">
            <div class="card-header">
                <h5 class="card-title">{{victim.initials}} - {{victim.interview_date}}</h5>


            </div>
            <div class="card-body">
                <p><strong>STATUS:</strong> Pending Approval</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}