{% extends "layouts/master.html" %}
{% load i18n %}
{% block content %}
<div class="container p-3">
    
    
    <div class=" card w-100">
        <div class="card-title border-bottom">
            <h3>Victim Demographics</h3>
           
        </div>
        
        <div class="card-body ">
            <div class="row">
                <div class="col-sm-4" style=" ">
                    <h4>By Gender</h4>
                    <canvas id="genderChart"></canvas>
                </div>
                <div class="col-sm-8" style="">
                    <h4>By Nationality</h4>
                    <canvas id="nationalityChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br>
        
    <div class=" card w-100">
        <div class="card-title border-bottom">
            <h3>Exploitation Analysis</h3>
       
        </div>
        <div class="card-body ">
            <div class="row">
                <canvas id="exploitationChart"></canvas>
            </div>
        </div>
    </div>
    <div class="card w-100">
        <div class="card-title border-bottom">
            <h3>Perpetrator Prosecution and Conviction</h3>
        </div>
        <div class="card-body">
            <canvas id="prosecutionChart"></canvas>
        </div>
    </div>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                // Assuming `exploitation_counts` is passed as a list of dictionaries from the view
                // Each dictionary in the list contains 'exploitation_type' and 'count'
                var ctx = document.getElementById('exploitationChart').getContext('2d');
                var xd = "{{ exploitation_counts|safe }}".replaceAll("\'","\"")
                console.log(xd)
                var exploitationData = JSON.parse(xd);
                console.log(exploitationData)
                var labels = Object.keys(exploitationData)
                var data = Object.values(exploitationData)
                // Define a palette of colors for the bars
                var backgroundColors = [
                    'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 
                    'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)',
                    'rgba(199, 199, 199, 0.2)' // Add more as needed
                ];
                var borderColors = [
                    'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)',
                    'rgba(199, 199, 199, 1)' // Add more as needed
                ];
                var exploitationChart = new Chart(ctx, {
                    type: 'bar', // Change to 'line', 'pie', etc. based on preference
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Number of Victims',
                            data: data,
                            backgroundColor: backgroundColors.slice(0, labels.length),
                            borderColor: borderColors.slice(0, labels.length),
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        },
                        responsive: true,
                        plugins: {
                            legend: {
                                display: true,
                                position: 'top',
                            }
                        }
                    }
                });

                
    
        // Assuming the data is correctly serialized and passed to the template
        // Gender Chart Data
        var gtd = "{{ gender_counts|safe }}".replaceAll("\'","\"")
        var genderData = JSON.parse(gtd);
        var genderLabels = genderData.map(function(e) { return e.gender__name; });
        var genderCounts = genderData.map(function(e) { return e.count; });

        var genderCtx = document.getElementById('genderChart').getContext('2d');
        var genderChart = new Chart(genderCtx, {
            type: 'pie', // Pie chart to represent gender distribution
            data: {
                labels: genderLabels,
                datasets: [{
                    label: 'Gender Distribution',
                    data: genderCounts,
                    backgroundColor: backgroundColors.slice(0, labels.length),
                    borderColor: borderColors.slice(0, labels.length),
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                }
            },
        });

        // Nationality Chart Data
        var ntd = "{{ nationality_counts|safe }}".replaceAll("\'","\"")
        var nationalityData = JSON.parse(ntd);
        var nationalityLabels = nationalityData.map(function(e) { return e.citizenship__name; });
        var nationalityCounts = nationalityData.map(function(e) { return e.count; });

        var nationalityCtx = document.getElementById('nationalityChart').getContext('2d');
        var nationalityChart = new Chart(nationalityCtx, {
            type: 'bar', // Bar chart to represent nationality distribution
            data: {
                labels: nationalityLabels,
                datasets: [{
                    label: 'Nationality Distribution',
                    data: nationalityCounts,
                    backgroundColor: backgroundColors.slice(0, labels.length),
                    borderColor: borderColors.slice(0, labels.length),
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true
            },
        });
        var protd="{{ prosecuted_counts|safe }}".replace("\'", '\"')
        var ctxProc = document.getElementById('prosecutionChart').getContext('2d');
        var prosecutedData = JSON.parse(protd);
    
        var prosecutionChart = new Chart(ctxProc, {
            type: 'bar',
            data: {
                labels: ['Prosecuted', 'Convicted'],
                datasets: [{
                    label: 'Count',
                    data: [prosecutedData.total_prosecuted, prosecutedData.total_convicted],
                    backgroundColor: backgroundColors.slice(0, labels.length),
                    borderColor: borderColors.slice(0, labels.length),
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
            </script>
        
</div>
{% endblock content%}
{% block scripts %}
<script>
   
</script>
{% endblock scripts %}