{% extends "layouts/master.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container p-3 justify-content-center">
    <div class="row justify-content-center">
        <div class="card col-md-4" style="padding: 0px; ">
            <div class="card-header text-center text-warning" style="background-color: #1860c3;">
                <h5>{% trans "LOGIN" %}</h5>
            </div>
            <div class="card-body">
                <form id="interviewer_form" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="emailAddress" class="form-label">{% trans "Email address:" %}</label>
                        <input type="text" name = "username" autocomplete="username" class="form-control" id="emailAddress" aria-describedby="emailAddressHelp" required> 
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">{% translate "Password:" %}</label>
                        <input type="password" name="password" autocomplete="new-password" class="form-control" id="password" aria-describedby="passwordHelp" required>
                    </div>
                    <div class="row justify-content-center ">
                        <div class="col-3 text-center">
                            <button type="submit" class="btn btn-primary">{% translate "LOGIN" %}</button>
                        </div>
                      
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}