{% extends "layouts/master.html" %}
{% load i18n %}
{% block content %}
<div class="container p-3">
    <div class="card ">
        <div class="card-header text-center">
            {% trans "INVESTIGATION DATA" %}
        </div>
        <div class="card-body">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link {% if step is not None and step == '1' %}active {% elif  step is None %}active{% endif %}" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">{% trans "Victim Profile" %}</button>
                    <button class="nav-link {% if step is not None and step == '2' %} active {% endif %}" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-exploitation" type="button" role="tab" aria-controls="nav-exploitation" aria-selected="false">{% trans "Exploitation" %}</button>  
                    <button class="nav-link {% if step is not None and step == '3' %} active {% endif %}" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-transit" type="button" role="tab" aria-controls="nav-transit" aria-selected="false">{% translate "Transit Route" %}</button>  

                </div>
            </nav>
            <div class="tab-content">
                <div class="tab-pane fade {% if step is not None and step == '1' %} show active {% elif  step is None %}show active {% endif %}" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                    {% if request.session.v_id %}
                    {% include "components/victimprofile.html"%}
                    <div class="container text-center">
                        <a href="/{{request.LANGUAGE_CODE}}/tip_form?step=2" class="btn btn-primary mt-3 text-warning">{% translate "NEXT" %}</a>

                    </div>
                    {% else %}
                    {% include "components/victim_form.html"%}
                    {% endif %}
                </div>
                <div class="tab-pane fade {% if step is not None and step == '2' %} show active  {% endif %}" id="nav-exploitation" role="tabpanel" aria-labelledby="nav-exploitation-tab" tabindex="1">
                    {% if victim %}
                    <form id="tip_form" method="post" action="/{{request.LANGUAGE_CODE}}/save_exploitation">
                        {% csrf_token %}
                        <div class="row g-3 my-2 px-2 py-2 bg-light border rounded">
                            <div class="col-md-6">
                                <label for="subject_to_exploitation" class="form-label">{% trans "Has the victim been subject to exploitation?:" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="subject_to_exploitation" id="subject_to_exploitation_1" value="1" >
                                        <label class="form-check-label" for="subject_to_exploitation_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="subject_to_exploitation" id="subject_to_exploitation_0" value="0" >
                                        <label class="form-check-label" for="subject_to_exploitation_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <label for="intent_to_exploit" class="form-label">{% trans "If NO, was there an intention to exploit the victim?" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="intent_to_exploit" id="intent_to_exploit_1" value="1" >
                                        <label class="form-check-label" for="intent_to_exploit_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="intent_to_exploit" id="intent_to_exploit_0" value="0" >
                                        <label class="form-check-label" for="intent_to_exploit_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="exploitation_length" class="form-label">{% trans "If YES, For how long did the victim experience exploitation?:" %}</label>
                                    <input type="text" name = "exploitation_length" value = "{{exploitation.exploitation_length}}" class="form-control" id="exploitation_length" aria-describedby="exploitation_lengthHelp" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="exploitation_age" class="form-label">{% trans "If YES, what was the age(s) of the victim during the period of exploitation?:" %}</label>
                                    <select class="form-select" name="exploitation_age" id="exploitation_age_id" aria-label="Default select example"  value="{{exploitation.exploitation_age}}">
                                        {% for age in exploitation_ages %}
                                            <option {% if age.id == exploitation.exploitation_age_id %}selected{% endif %} value="{{age.id}}"> {{age.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="pay_debt" class="form-label">{% trans "Did the victim have to pay a debt to his/her exploiters?" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="pay_debt" id="pay_debt_1" value="1" >
                                        <label class="form-check-label" for="pay_debt_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="pay_debt" id="pay_debt_0" value="0" >
                                        <label class="form-check-label" for="pay_debt_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="debt_amount" class="form-label">{% trans "If YES, please specify - Total amount?:" %}</label>
                                    <input type="text" name = "debt_amount" value = "{{exploitation.debt_amount}}" class="form-control" id="debt_amount" aria-describedby="debt_amountHelp" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="freed_method" class="form-label">{% trans "How was the victim freed?:" %}</label>
                                    <select class="form-select" name="freed_method_id" id="freed_method" aria-label="Default select example"  value="{{exploitation.freed_method_id}}">
                                        {% for method in freed_methods %}
                                            <option {% if method.id == exploitation.freed_method_id %}selected{% endif %} value="{{method.id}}"> {{method.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="event_description" class="form-label">{% trans "Describe what actually happened:" %}</label>
                                    <textarea type="text" name = "event_description"  class="form-control" id="event_description" aria-describedby="event_descriptionHelp" >{{exploitation.event_description}}</textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="">
                                    <label class="form-label">{% trans "Which type(s) of exploitation best describes the victim’s experiences?:" %}</label>
                                    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="e_prostitution" class="form-label">{% trans "Prostitution" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_prostitution" id="e_prostitution_1" value="1" >
                                        <label class="form-check-label" for="e_prostitution_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_prostitution" id="e_prostitution_0" value="0" >
                                        <label class="form-check-label" for="e_prostitution_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <label for="e_other_sexual" class="form-label">{% trans "Other sexual exploitation" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_other_sexual" id="e_other_sexual_1" value="1" >
                                        <label class="form-check-label" for="e_other_sexual_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_other_sexual" id="e_other_sexual_0" value="0" >
                                        <label class="form-check-label" for="e_other_sexual_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <label for="e_other_sexual_online" class="form-label">{% trans "Sexual exploitation online" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_other_sexual_online" id="e_other_sexual_online_1" value="1" >
                                        <label class="form-check-label" for="e_other_sexual_online_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_other_sexual_online" id="e_other_sexual_online_0" value="0" >
                                        <label class="form-check-label" for="e_other_sexual_online_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <label for="e_online_porno" class="form-label">{% trans "Production of online pornographic material" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_online_porno" id="e_online_porno_1" value="1" >
                                        <label class="form-check-label" for="e_online_porno_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_online_porno" id="e_online_porno_0" value="0" >
                                        <label class="form-check-label" for="e_online_porno_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <label for="e_criminal_activity" class="form-label">{% trans "Criminal activity" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_criminal_activity" id="e_criminal_activity_1" value="1" >
                                        <label class="form-check-label" for="e_criminal_activity_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_criminal_activity" id="e_criminal_activity_0" value="0" >
                                        <label class="form-check-label" for="e_criminal_activity_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_criminal_activity_type" class="form-label">{% trans "If yes, what crime?:" %}</label>
                                    <select class="form-select" name="e_criminal_activity_type[]" id="e_criminal_activity_type" aria-label="Default select example"  value="{{exploitation.e_criminal_activity_type}}" multiple>
                                        {% for type in criminal_activity_types %}
                                            <option {% if type.id in exploitation.e_criminal_activity_type %}selected{% endif %} value="{{type.id}}"> {{type.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="e_forced_labour" class="form-label">{% trans "Forced labour" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_forced_labour" id="e_forced_labour_1" value="1" >
                                        <label class="form-check-label" for="e_forced_labour_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_forced_labour" id="e_forced_labour_0" value="0" >
                                        <label class="form-check-label" for="e_forced_labour_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_forced_labour_industry" class="form-label">{% trans "If yes, what industry?:" %}</label>
                                    <select class="form-select" name="e_forced_labour_industry[]" id="e_forced_labour_industry" aria-label="Default select example"  value="{{exploitation.e_forced_labour_industry}}" multiple>
                                        {% for industry in forced_labour_industries %}
                                            <option {% if industry.id in exploitation.e_forced_labour_industry %}selected{% endif %} value="{{industry.id}}"> {{industry.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="e_forced_marriage" class="form-label">{% trans "Forced marriage" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_forced_marriage" id="e_forced_marriage_1" value="1" >
                                        <label class="form-check-label" for="e_forced_marriage_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_forced_marriage" id="e_forced_marriage_0" value="0" >
                                        <label class="form-check-label" for="e_forced_marriage_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <label for="e_victim_knew_spouse" class="form-label">{% trans "Did the victim know the spouse before the wedding?" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_victim_knew_spouse" id="e_victim_knew_spouse_1" value="1" >
                                        <label class="form-check-label" for="e_victim_knew_spouse_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_victim_knew_spouse" id="e_victim_knew_spouse_0" value="0" >
                                        <label class="form-check-label" for="e_victim_knew_spouse_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_spouse_nationality" class="form-label">{% trans "What is the spouse’s nationality?:" %}</label>
                                    <select class="form-select" name="e_spouse_nationality_id" id="e_spouse_nationality" aria-label="Default select example"  value="{{exploitation.e_spouse_nationality_id}}">
                                        {% for country in countries %}
                                            <option {% if country.id == exploitation.e_spouse_nationality_id %}selected{% endif %} value="{{country.id}}"> {{country.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_bprice_paid" class="form-label">{% trans "Was a bride price, dowry or dower paid?:" %}</label>
                                    <select class="form-select" name="e_bprice_paid_id" id="e_bprice_paid" aria-label="Default select example"  value="{{exploitation.e_bprice_paid_id}}">
                                        {% for price in bride_prices %}
                                            <option {% if price.id == exploitation.e_bprice_paid_id %}selected{% endif %} value="{{price.id}}"> {{price.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_bprice_amount_kind" class="form-label">{% trans "If YES to bride price, dowry or dower, how much and/or which material good's?:" %}</label>
                                    <input type="text" name = "e_bprice_amount_kind" value = "{{exploitation.e_bprice_amount_kind}}" class="form-control" id="e_bprice_amount_kind" aria-describedby="e_bprice_amount_kindHelp" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_brice_recipient" class="form-label">{% trans "If YES to bride price, which individual(s) received the bride price?:" %}</label>
                                    <select class="form-select" name="e_brice_recipient[]" id="e_brice_recipient" aria-label="Default select example"  value="{{exploitation.e_brice_recipient}}" multiple>
                                        {% for recipient in bride_price_recipients%}
                                            <option {% if recipient.id in exploitation.e_brice_recipient %}selected{% endif %} value="{{recipient.id}}"> {{recipient.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="e_child_marriage" class="form-label">{% trans "Child marriage" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_child_marriage" id="e_child_marriage_1" value="1" >
                                        <label class="form-check-label" for="e_child_marriage_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_child_marriage" id="e_child_marriage_0" value="0" >
                                        <label class="form-check-label" for="e_child_marriage_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_child_marriage_reason" class="form-label">{% trans "What was the reason for the child marriage?:" %}</label>
                                    <select class="form-select" name="e_child_marriage_reason[]" id="e_child_marriage_reason" aria-label="Default select example"  value="{{exploitation.e_child_marriage_reason}}" multiple>
                                        {% for reason in child_marriage_reasons%}
                                            <option {% if reason.id in exploitation.e_child_marriage_reason %}selected{% endif %} value="{{reason.id}}"> {{reason.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="e_victim_pregnancy" class="form-label">{% trans "Did the victim fall pregnant as a result of the marriage?" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_victim_pregnancy" id="e_victim_pregnancy" value="1" >
                                        <label class="form-check-label" for="e_victim_pregnancy_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_victim_pregnancy" id="e_victim_pregnancy" value="0" >
                                        <label class="form-check-label" for="e_victim_pregnancy_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_children_from_marriage" class="form-label">{% trans "If YES, how many children were born out of the marriage?:" %}</label>
                                    <input type="number" name = "e_children_from_marriage" value = "{{exploitation.e_children_from_marriage}}" class="form-control" id="e_children_from_marriage" aria-describedby="e_children_from_marriageHelp">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="e_maternal_health_issues" class="form-label">{% trans "Did the victim have any maternal health problems?" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_maternal_health_issues" id="e_maternal_health_issues" value="1" >
                                        <label class="form-check-label" for="e_maternal_health_issues_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_maternal_health_issues" id="e_maternal_health_issues" value="0" >
                                        <label class="form-check-label" for="e_maternal_health_issues_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_m_health_issues_description" class="form-label">{% trans "If YES, please specify?:" %}</label>
                                    <textarea type="text" name = "e_m_health_issues_description"  class="form-control" id="e_m_health_issues_description" aria-describedby="e_m_health_issues_descriptionHelp">{{exploitation.e_m_health_issues_description}}</textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_marriage_violence" class="form-label">{% trans "During the marriage, was the victim subject to any form of violence?:" %}</label>
                                    <select class="form-select" name="e_marriage_violence_id" id="e_marriage_violence" aria-label="Default select example"  value="{{exploitation.e_marriage_violence_id}}">
                                        {% for option in affirm_options %}
                                            <option {% if option.id == exploitation.e_marriage_violence_id %}selected{% endif %} value="{{option.id}}"> {{option.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_marriage_violence_type" class="form-label">{% trans "If YES, please specify what the violence was through?:" %}</label>
                                    <select class="form-select" name="e_marriage_violence_type[]" id="e_marriage_violence_type" aria-label="Default select example"  value="{{exploitation.e_marriage_violence_type}}" multiple>
                                        {% for type in marriage_violence_types%}
                                            <option {% if type in exploitation.e_marriage_violence_type %}selected{% endif %} value="{{type.id}}">{{type.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="e_forced_military_type" class="form-label">{% trans "In what type of military unit/militia was the victim enagaged in?" %}</label>
                                <div> 
                                    {% for type in military_types %}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="e_forced_military_type_id" id="e_forced_military_type_{{type.id}}" value="{{type.id}}" {% if type.id == exploitation.e_forced_military_type_id %}checked selected{% endif %} >
                                            <label class="form-check-label" for="e_forced_military_type_{{type.id}}">{{type.name}}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_armed_group_name" class="form-label">{% trans "What was the name of the armed group? Please specify:" %}</label>
                                    <input type="text" name = "e_armed_group_name" value = "{{exploitation.e_armed_group_name}}" class="form-control" id="e_armed_group_name" aria-describedby="e_armed_group_nameHelp">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_victim_military_activities" class="form-label">{% trans "What type of activities did the victim perform?:" %}</label>
                                    <select class="form-select" name="e_victim_military_activities[]" id="e_victim_military_activities" aria-label="Default select example"  value="{{exploitation.e_victim_military_activities}}" multiple>
                                        {% for activity in military_activities%}
                                            <option {% if activity in exploitation.e_victim_military_activities %}selected{% endif %} value="{{activity.id}}"> {{activity.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="e_child_soldier" class="form-label">{% trans "Child soldier" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_child_soldier" id="e_child_soldier" value="1" >
                                        <label class="form-check-label" for="e_child_soldiers_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_child_soldier" id="e_child_soldier" value="0" >
                                        <label class="form-check-label" for="e_child_soldier_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_child_soldier_age" class="form-label">{% trans "At what age?:" %}</label>
                                    <input type="number" name = "e_child_soldier_age" value = "{{exploitation.e_child_soldier_age}}" class="form-control" id="e_child_soldier_age" aria-describedby="e_child_soldier_ageHelp">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="e_organ_removed" class="form-label">{% trans "Organ removal" %}</label>
                                <div>
                                    
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_organ_removed" id="e_organ_removed_1" value="1" >
                                        <label class="form-check-label" for="e_organ_removed_1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="e_organ_removed" id="e_organ_removed_0" value="0" >
                                        <label class="form-check-label" for="e_organ_removed_0">No</label>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_body_part_removed" class="form-label">{% trans "Which body parts were removed?:" %}</label>
                                    <select class="form-select" name="e_body_part_removed[]" id="e_body_part_removed" aria-label="Default select example"  value="{{exploitation.e_body_part_removed}}" multiple>
                                        {% for part in body_parts%}
                                            <option {% if part.id in exploitation.e_body_part_removed %}selected{% endif %} value="{{part.id}}"> {{part.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_operation_location" class="form-label">{% trans "Where was the operation performed?:" %}</label>
                                    <select class="form-select" name="e_operation_location_id" id="e_operation_location" aria-label="Default select example"  value="{{exploitation.e_operation_location_id}}">
                                        {% for location in operation_locations %}
                                            <option {% if location.id == exploitation.e_operation_location_id %}selected{% endif %} value="{{location.id}}"> {{location.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_operation_country" class="form-label">{% trans "In which country was the operation performed?:" %}</label>
                                    <select class="form-select" name="e_operation_country_id" id="e_operation_country" aria-label="Default select example"  value="{{exploitation.e_operation_country_id}}">
                                        {% for country in countries %}
                                            <option {% if country.id == exploitation.e_operation_country_id %}selected{% endif %} value="{{country.id}}"> {{country.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_organ_sale_price" class="form-label">{% trans "If organ was sold, how much was offered or actually paid for the removed organ?:" %}</label>
                                    <input type="text" name = "e_organ_sale_price" value = "{{exploitation.e_organ_sale_price}}" class="form-control" id="e_organ_sale_price" aria-describedby="e_organ_sale_priceHelp">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_organ_paid_to" class="form-label">{% trans "If applicable, to whom was the money paid?:" %}</label>
                                    <select class="form-select" name="e_organ_paid_to_id" id="e_organ_paid_to" aria-label="Default select example"  value="{{exploitation.e_organ_paid_to_id}}" >
                                        {% for to in organ_paid_to%}
                                            <option {% if to.id == exploitation.e_organ_paid_to_id %}selected{% endif %} value="{{to.id}}"> {{to.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_remarks" class="form-label">{% trans "Additional remarks:" %}</label>
                                    <textarea type="text" name = "e_remarks"  class="form-control" id="e_remarks" aria-describedby="e_remarksHelp">{{exploitation.e_remarks}}</textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_recruitment_type" class="form-label">{% trans "If recruitment, how was the victim recruited?:" %}</label>
                                    <select class="form-select" name="e_recruitment_type_id" id="e_recruitment_type" aria-label="Default select example"  value="{{exploitation.e_recruitment_type_id}}">
                                        {% for type in recruitment_types %}
                                            <option {% if type.id == exploitation.e_recruitment_type_id %}selected{% endif %} value="{{type.id}}"> {{type.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_recruiter_relationship" class="form-label">{% trans "If recruitment, how was the victim recruited?:" %}</label>
                                    <select class="form-select" name="e_recruiter_relationship_id" id="e_recruiter_relationship" aria-label="Default select example"  value="{{exploitation.e_recruiter_relationship_id}}">
                                        {% for relationship in recruitment_relationships %}
                                            <option {% if relationship.id == exploitation.e_recruiter_relationship_id %}selected{% endif %} value="{{relationship.id}}"> {{relationship.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="e_trafficking_means" class="form-label">{% trans "Which body parts were removed?:" %}</label>
                                    <select class="form-select" name="e_trafficking_means[]" id="e_trafficking_means" aria-label="Default select example"  value="{{exploitation.e_trafficking_means}}" multiple>
                                        {% for mean in trafficking_means%}
                                            <option {% if mean.id in exploitation.e_trafficking_means %}selected{% endif %} value="{{mean.id}}"> {{mean.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                           
                        </div>
                        <div class="row text-center m-3 ">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary text-warning">{% translate "SAVE AND RETURN" %}</button>
                            </div>
                        
                        </div>
                    </form>
                    {% else %}
                    <p>Please create / select a victim to access this form</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade {% if step is not None and step == '3' %} show active  {% endif %}" id="nav-transit" role="tabpanel" aria-labelledby="nav-transit-tab" tabindex="2">
                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
{% if not request.session.v_id %}
const languages = document.querySelector('#languages');
const choices_0 = new Choices(languages,{
    classNames: {
        containerInner: 'choices_inner',
    }
});
const idtypes = document.querySelector('#idtypes');
const choices_1 = new Choices(idtypes,{
    classNames: {
        containerInner: 'choices_inner',
    }
});
{% endif %}
const e_criminal_activity_type = document.querySelector('#e_criminal_activity_type');
const choices = new Choices(e_criminal_activity_type,{
    classNames: {
        containerInner: 'choices_inner',
    }
});

const e_forced_labour_industry = document.querySelector('#e_forced_labour_industry');
const choices1 = new Choices(e_forced_labour_industry,{
    classNames: {
        containerInner: 'choices_inner',
    }
});

const e_brice_recipient = document.querySelector('#e_brice_recipient');
const choices2 = new Choices(e_brice_recipient,{
    classNames: {
        containerInner: 'choices_inner',
    }
});

const e_child_marriage_reason = document.querySelector('#e_child_marriage_reason');
const choices3 = new Choices(e_child_marriage_reason,{
    classNames: {
        containerInner: 'choices_inner',
    }
});

const e_marriage_violence_type = document.querySelector('#e_marriage_violence_type');
const choices4 = new Choices(e_marriage_violence_type,{
    classNames: {
        containerInner: 'choices_inner',
    }
});

const e_victim_military_activities = document.querySelector('#e_victim_military_activities');
const choices5 = new Choices(e_victim_military_activities,{
    classNames: {
        containerInner: 'choices_inner',
    }
});

const e_body_part_removed = document.querySelector('#e_body_part_removed');
const choices6 = new Choices(e_body_part_removed,{
    classNames: {
        containerInner: 'choices_inner',
    }
});

const e_trafficking_means = document.querySelector('#e_trafficking_means');
const choices7 = new Choices(e_trafficking_means,{
    classNames: {
        containerInner: 'choices_inner',
    }
});


</script>
{% endblock scripts %}