{% extends "layouts/master.html" %}
{% load i18n %}
{% block content %}
<div class="container p-3">
    <div class=" ">
        <a href="/{{request.LANGUAGE_CODE}}/cases"><< back to all cases</a>
        <div class="card-header text-center p-2" style="background-color: #1860c3;">
            <h5 class="text-warning">{% trans "Case interview" %}: {{victim.initials}} - {{victim.interview_date}}</h5>
        </div>
        <div class="card-body">
            {% include "components/victimprofile.html" %}
            <div class="card-header bg-light py-3 border-top border-bottom border-primary">
                <h6>{%trans "ARRESTS/INVESTIGATION"%}<small class="text-danger"> - {{arrest.approval.name}}</small></h6>
            </div>
            <div class="my-2">
                {% include "components/arrest_view.html" %}
            </div>
            <div class="card-header bg-light py-3 border-top border-bottom border-primary">
                <h6>{%trans "SUSPECTS"%}</h6>
            </div>
            
            {% for suspect in suspects %}
                    <div class="my-2">
                        <div class="card-header ">
                            <h6>Suspect: {{suspect.first_name}} {{suspect.last_name}}<small class="text-danger"> - {{suspect.approval.name}}</small></h6>
                        </div>
                        <div class="card-body">
                            <div class="row g-3 my-2">
                                
                                <div class="col-md-6">
                                    
                                <strong>{% trans "Name:" %}</strong> {{suspect.first_name}} {{suspect.last_name}}
                                </div>
                                
                                <div class="col-md-6">
                                    <strong>{% trans "Date of birth:" %}</strong> {{suspect.dob}}
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "Age:" %}</strong> {{suspect.age}}
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "Gender:" %}</strong> {{suspect.gender.name}}
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "Race:" %}</strong> {{suspect.race.name}}
                                    
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "Languages:" %}</strong> {% for  lang in suspect.languages.all  %}{{lang.name}} {% endfor %}
                                </div>
                                
                            
                                
                                <div class="col-md-6">
                                   <strong>{% trans "Citizenship:" %}</strong> {{suspect.citizenship.name}}
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "Nationality:" %}</strong> {{suspect.nationality.name}}
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "ID Type:" %}</strong> {{suspect.id_type.name }}
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "ID number:" %}</strong> {{suspect.id_number}}
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "Address:" %}</strong> {{suspect.address}}
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "Last place of residence:" %}</strong> {{suspect.last_residence}}
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "Country of birth:" %}</strong> {{suspect.country_of_birth.name}}
                                </div>
    
                               
                           
                                
                                <div class="col-md-6">
                                    <strong>{% trans "Date of arrest:" %}</strong> {{suspect.date_of_arrest}}
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "Role in trafficking:" %}</strong> {% for role_in_trafficking in suspect.role_in_trafficking.all %}{{role_in_trafficking.name }} {% endfor %}
                                    
                                </div>
                                <div class="col-md-12">
                                    <strong>{% translate "From:" %}</strong> {{suspect.traffick_from_country.name}},{{suspect.traffick_from_place}}
                                </div>
                                
                                <div class="col-md-12">
                                    <strong>{% translate "To:" %}</strong> {{suspect.traffick_to_country.name}},{{suspect.traffick_to_place}}
                                </div>
                                
    
                            </div>
                        </div>
                    </div>
                    <hr/>
            {% endfor %}
            <div class="card-header bg-light py-3 border-top border-bottom border-primary">
                <h6>{%trans "PROSECUTIONS"%}</h6>
            </div>
            
            {% for prosecution in prosecutions %}
                    <div class="my-2">
                        <div class="card-body">
                            <div class="row g-3 my-2">
                                <div class="col-md-6">
                                    <strong>{% trans "Suspect name:" %}</strong> {{prosecution.trafficker.first_name}} {{prosecution.trafficker.last_name}}
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "What is the status of the case?" %}</strong> {% if prosecution.status_of_case%}{{prosecution.status_of_case.name}}{% else %}Not answered{% endif %} 
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "In which trial court is this case enrolled?" %}</strong> {% if prosecution.trial_court%}{{prosecution.trial_court.name}}{% else %}Not answered{% endif %} 
                                </div>
                                <div class="col-md-6">
                                    <strong>{% trans "If in a foreign court, please specify country:" %}</strong> {% if prosecution.trial_court%}{{prosecution.trial_court.name}}{% else %}Not answered{% endif %} 
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
            {% endfor %}
            <div class="card-header bg-light py-3 border-top border-bottom border-primary">
                <h6>{%trans "EXPLOITATION"%}<small class="text-danger"> - {{exploitation.approval.name}}</small></h6>
            </div>
            <div class="my-2">
                <div class="card-body">
                    <div class="row g-3 my-2">
                        
                        <div class="col-md-12">
                            
                        <strong>{% trans "Has the victim been subject to exploitation:" %}</strong> {% if exploitation.subject_to_exploitation == 1 %}Yes{% else %}No{% endif %}
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card-header bg-light py-3 border-top border-bottom border-primary">
                <h6>{%trans "TRANSIT ROUTE"%}<small class="text-danger"> - {{destination.approval.name}}</small></h6>
            </div>
            <div class="my-2">
                <div class="card-body">
                    <div class="row g-3 my-2">
                        
                        <div class="col-md-12">
                            
                        <strong>{% trans "Country of origin/recruitment:" %}</strong> {{destination.country_of_origin.name}}
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}